@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-ms: 26rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
}
